<!DOCTYPE html>
<html>
<head>
	<title>Recipe Tracker</title>

	{{!-- Required meta tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	{{!-- Stylesheets --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	{{!-- Custom Styles --}}
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

	{{!-- JQuery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	<!-- Start Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom border-success">
	  <a class="navbar-brand" href="/">Recipe Tracker</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/breakfast">Breakfast</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/lunch">Lunch</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="/dinner" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dinner
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input id="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
	<!-- End Navbar -->
	<div class="spacer-1"></div>
	{{{ body }}}
	<script type="text/javascript">

		$("#search").on('click', function(event) {
			event.preventDefault();

			var query = $("#query").val().trim();

			var searchTerm = query.replace(/\s+/g,"+");
			console.log(searchTerm);

			location.href = "/api/search/" + searchTerm;

			// $.get('/api/recipe/' + query, function(data) {
			// 	console.log(data);

			// 	$("#name").val(data.recipe_name);
			// });
		});
	</script>
</body>
</html>